/*全局样式*/
@charset"utf-8";
*{margin:0;padding:0;box-sizing: border-box;}
a{text-decoration:none;}
i,em{font-style:normal;display:inline-block;vertical-align:top;}
b,strong{font-weight:normal;}
ul,li,ol{list-style:none;}
input,img{vertical-align:top;border:0;outline:none;}
h2,h3,h4,h5,h6{font-size:12px;font-weight:normal;}
body{background:#F5F8FF;font-size:12px;height:100vh;}
.fl{float:left;}
.fr{float:right;}

.hide{display: none;}
.ellipsis{
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.back_box{width:685px; background:rgba(255,255,255,0.9);position: relative;margin: 0px auto 0;box-sizing:border-box;color:#333;overflow: hidden;z-index: 1;}
.back_box>div.quiz{width: 100%;padding: 20px 0px 0px;overflow: hidden;}
/* .back_box>p{
	position: absolute;
	left: 10px;
	top: 10px;
} */
.back_box>p span{
	width: 75px;
	height: 42px;
	line-height: 41px;
	text-align: center;
	margin-right: 10px;
	color: #666;
	float: left;
	font-size: 16px;
	cursor: pointer;
}
.shuo{width:100%;padding-top: 20px; background:rgba(255,255,255,1);margin:0 auto}
.back_box>p{overflow: hidden;}
.back_box>p span.active,.back_box>p span:hover{
	border-bottom: 3px solid #496FFF;font-weight: bold;
}
		.fadeTitle{width: 100%;height: 60px;line-height: 60px;text-align:center;margin: 99px auto 0;font-size:24px;color:white}
.back_box .quiz h2{line-height:20px;margin-bottom: 10px;font-size: 14px;color: #333;clear: both;}
.back_box .quiz input{width: 100%;height:35px;border:1px solid #496FFF;padding:0 10px;border-radius:2px;margin-bottom:20px;background:#fff;font-size:12px;}
.back_box .quiz textarea{width: 100%;padding:4px 10px;height: 170px;background:#fff;border-radius:3px;outline:none;line-height:16px;margin-bottom:10px;resize: none;}
.back_box .quiz .btn{text-align:center;margin-top:5px;}
.back_box .quiz .btn div{width:98px;height:30px;text-align:center;line-height:30px;font-size: 14px;background:#496FFF;color:#fff;display:inline-block;border-radius:2px;cursor:pointer;}
.fadeTitle{width: 390px;height: 60px;line-height: 60px;text-align:center;margin: 99px auto 0;font-size:24px;color: #FFF;background:url(../img/bg.png) no-repeat center;}
.back_box .quiz h2{line-height:20px;margin-bottom: 10px;font-size: 14px;color: #333;clear: both;}
.back_box .quiz input{width: 100%;height:35px;border:1px solid #496FFF;padding:0 10px;border-radius:2px;margin-bottom:20px;background:#fff;font-size:12px;}
.back_box .quiz textarea{width: 100%;padding:4px 10px;height: 170px;background:#fff;border-radius:3px;outline:none;line-height:16px;margin-bottom:10px;resize: none;}
.back_box .quiz .btn{text-align:center;margin-top:5px;}
.back_box .quiz .btn div{width:98px;height:30px;text-align:center;line-height:30px;font-size: 14px;background:#496FFF;color:#fff;display:inline-block;border-radius:2px;cursor:pointer;}

.fadeTitle{width: 100%;height: 60px;line-height: 60px;text-align:center;margin: 99px auto 0;font-size:24px ;color:white}
.back_box .quiz h2{line-height:20px;font-size: 14px;color: #333333;clear: both;}
.back_box .quiz input{width:685px;height:35px;border:1px solid #ccc;padding:0 0px;border-radius:2px;margin-top: 10px; background:#fff;font-size:12px;}
.back_box .quiz textarea{width: 100%;padding:4px 10px;margin-top:10px;height: 170px;background:#fff;border-radius:3px;outline:none;line-height:16px; resize: none;}
.back_box .quiz .btn{text-align:center;margin-top:30px;}
.back_box .quiz .btn div{width:96px;height:30px;text-align:center;line-height:30px;font-size: 14px;background:#496FFF;color:#fff; border-radius:2px;cursor:pointer;}

.back_box .record{
	width: 100%;margin-top:20px;
	/* height: calc(100% - 30px); */
	overflow: hidden;
}

.back_box .record dl{
	height: 100%;
}
.back_box .record dt{
	width: 50%;
	height: 100%;
	float: left;
	box-sizing: border-box;
}
.back_box .record dd{
	width: 50%;
	float: left;
	padding: 10px;
	background: #F4F6FF;
	overflow: hidden;
}
.back_box .record dd .ddCont>div{
	min-height: 50%;
	line-height: 30px;
	padding: 10px;
	box-sizing: border-box;
}
.back_box .record dd .ddCont>div:nth-child(2){
	border-top: 1px solid #D8D8D8;
	padding-top: 10px;
	box-sizing: border-box;
}
.back_box .record dt .questionPFoo p{
	height: 48px;
	line-height: 48px;
	padding: 0 20px;
	font-size: 14px;
	color: #333;
	border-bottom: 1px solid #F4F6FF;
	cursor: pointer;
}
.back_box .record dt .questionPFoo p.active,.back_box .record dt .questionPFoo p:hover{
	background: #F4F6FF;
}
/*msgbox消息弹框*/
.msgbox{width:324px;background:#fff;border-radius:8px;position:fixed;top:50%;left:50%;margin-left:-160px;margin-top:-60px;overflow:hidden;text-align:center;;z-index:999;box-sizing:border-box;padding:10px 20px;display:none;}
.msgbox img{display:none;width:36px;height:28px;margin:18px auto;}
.msgbox img.on{display:block;}
.msgbox span{color:#06415E;font-size:16px;line-height:32px;font-weight:bold;margin-top:20px;}
/*分页*/
/*.ycl_page{height:35px;width:100%;line-height:35px;text-align:center;color:#174E69;float:left;margin-top:10px;}
.ycl_page div,.ycl_page ul,.ycl_page span,.ycl_page li,.ycl_page p{display:inline-block;margin-right:2px;cursor:pointer;line-height:14px;-moz-user-select: none; -o-user-select:none; -khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none; user-select:none;}
.ycl_page input{width:30px;height:16px;margin-top:8px;margin-bottom: 8px;border:1px solid #ccc;display:inline-block;cursor:pointer;line-height:14px;}
.ycl_page div{padding:2px 3px;border:1px solid #06415E;}
.ycl_page li{padding:2px 4px;margin-right:0;}
.ycl_page li.now_page{background:#0068b7;color:#fff;margin-right: 2px;}
.ycl_page span.all_page{margin-right:0;}
.ycl_page div.noClick{color: #ccc;border-color: #ccc}
.ycl_page li.active{background:#0068b7;color:#fff;}*/


/*登录提示框*/
.shade{width:100%;height:100%;background:rgba(0,0,0,0.8);position:fixed;top:0;left:0;z-index:1000;display:none;}
#hint_login{width:440px;height:110px;background:#fff;position:fixed;top:40%;left:50%;margin-left:-220px;}
#hint_login .hint_logo_cancel{position:absolute;right:-10px;top:-10px;width:35px;cursor:pointer;}
#hint_login .hint_logo{position:absolute;left:-42px;top:-120px;}
#hint_login .hint_logo_shadow{position:absolute;left:-56px;top:16px;}
#hint_login p{color:#06415e;position:absolute;left:140px;top:30px;}
#hint_login .btn{position:absolute;right:5px;bottom:10px;}
#hint_login .btn a{display:inline-block;width:56px;height:22px;background:#06415e;color:#fff;text-align:center;line-height:21px;border-radius:5px;margin-left:3px;}
/*底部*/
.fadeBack_footer{  height: 200px;background-size: 100% 100%;position: fixed;left: 0;bottom: 0;background:#FFFFFF;background:red}
.fadeBack_footer-p{width:100%}
.riqi{color:#606266}

/* 新增问题头部 */
.questionClassify,
.questionDes {
	display: flex;
	font-size: 14px;
}
.questionClassify {
	margin-bottom: 20px;
}
.questionClassify ul {
	display: flex;
}
.questionClassify ul li {
	padding: 5px;
	border: 1px solid #ccc;
	margin-right: 10px;
	cursor: pointer;
}
.questionClassify ul li.active {
	border-color: #496FFF;
}
.questionClassify span,
.questionDes span {
	width: 90px;
}
.questionDes input {
	margin-top: 0!important;
}
.panel-default>.panel-heading {
	background-color: unset;
    border-color: white; 
}
.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
	position: absolute;
    bottom: -250px;
	left: 900px;
	z-index: 3;
}
/* feedback 常见问题 */
.feedbackContent .asideRight {
	width: 400px;
}
.feedbackContent .asideRight h3 {
	font-size:18px;
	font-family:PingFangSC-Regular,PingFang SC;
	font-weight:400;
	color:rgba(51,51,51,1);
	line-height:18px;
	margin-bottom: 16px;
}
.feedbackContent .asideRight .questionSpan span{
	font-size:14px;
	font-family:PingFangSC-Regular,PingFang SC;
	font-weight:400;
	color:rgba(51,51,51,1);
	line-height:18px;
	padding-bottom: 5px;
	margin-right: 30px;
	cursor: pointer;
}
.feedbackContent .asideRight .questionSpan {
	margin-bottom: 11px;
}
.feedbackContent .asideRight .questionSpan span.active {
	border-bottom: 2px solid rgba(67,99,230,1);
}
.feedbackContent .asideRight .questionContent {
	border: 1px solid #E6E6E6;
}
.feedbackContent .asideRight .questionContent ul {
	display: none;
}
.feedbackContent .asideRight .questionContent ul.on {
	display: block;
}
.feedbackContent .asideRight .questionContent h4 {
	height: 50px;
	line-height: 50px;
	background:#F7F8FA;
	font-size:14px;
	font-family:PingFangSC-Regular,PingFang SC;
	font-weight:400;
	color:rgba(0,0,0,1);
	padding-left: 15px;
	margin-top: 0;
	margin-bottom: 0;
	cursor: pointer;
	border-bottom: 1px solid #E6E6E6;
	position: relative;
}
.feedbackContent .asideRight .questionContent h4 span {
	display: block;
	width:12px;
	height: 12px;
	background: url(../img/icon/xlan.png);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
}
.feedbackContent .asideRight .questionContent h4 span.rotate {
	transform: rotate(180deg);
	top: 35%;
}
.feedbackContent .asideRight .questionContent li p {
	font-size:14px;
	font-family:PingFangSC-Regular,PingFang SC;
	font-weight:400;
	color:rgba(77,77,77,1);
	line-height:22px;
	padding:1px 25px;
	display: none;
}
