.platfolmFoo {
    min-width: 1200px;
    height: 119px;
    overflow: hidden;
    box-shadow: 0px 12px 27px 0px rgba(242, 248, 255, 1);
    position: relative;
    z-index: 1;
}

.platfolm {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0 23px;
}


/* .platfolm h2 span{height: 70px;line-height: 70px;font-size: 18px;color: #03f;margin-left: 70px;display: inline-block;}
.platfolm ul li{
	height: 70px;line-height: 70px;margin: 0 30px;float: left;
}
.platfolm ul li span{
	font-size: 14px;
}
.platfolm ul li b{
	margin-left: 10px;font-size: 16px;color: #333;
} */

.platfolm li {
    width: 33.33%;
    height: 100%;
    float: left;
}

.platfolm li:nth-child(2) {
    padding-left: 40px;
    border-right: 1px solid #E6E6E6;
    border-left: 1px solid #E6E6E6;
}

.platfolm li:nth-child(3) {
    padding-left: 40px;
}

.platfolm li h2 {
    float: left;
}

.platfolm li h2 p {
    height: 33px;
    line-height: 33px;
    margin-bottom: 21px;
    font-size: 24px;
    color: #333;
}

.platfolm li h2 span {
    height: 22px;
    line-height: 22px;
    font-size: 16px;
    color: #333;
    display: inline-block;
}

.platfolm li h2 span i {
    margin-left: 10px;
}

.platfolm li h3 {
    height: 70px;
    line-height: 40px;
    margin-right: 39px;
    font-size: 40px;
    color: #496FFF;
    border-bottom: 6px solid #496FFF;
    float: right;
}


/*首页轮播图*/

.indexBan {
    width: 100%;
    min-width: 1200px;
    ;
    height: 40.7vw;
    height: 500px;
    margin-top: 90px;
}

.indexSlogan {
    width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
}

.indexSlogan h3 {
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
}

.indexSlogan2 h3 {
    color: #333;
}

.indexSlogan p {
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.indexSlogan2 {
    position: relative;
}

.more {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 16px;
}

.more a {
    color: rgba(71, 109, 253, 1)
}

.indexSlogan h3 a {
    margin-left: 15px;
    font-size: 14px;
    color: #83949d;
}

.section {
    min-width: 1200px;
}

.section_one {
    background: #FAFBFF;
}

.section_one .sectionOneCont {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: url('../img/亮点功能BG.png') no-repeat;
}

.section_one .sectionOneCont .aside-img {
    width: 612px;
    height: 352px;
    padding: 49px 10px;
}

.section_one .sectionOneCont ul {
    margin: 25px 0 0 56px;
}

.section_one .sectionOneCont ul li {
    margin-top: 19px;
    border-bottom: 1px solid #E8E8E8;
}

.section_one .sectionOneCont ul li:last-child {
    border: none;
}

.section_one .sectionOneCont ul li.on p:first-child {
    color: #496FFF;
    position: relative;
    z-index: 1;
}


/* .section_one .sectionOneCont ul li p:first-child img {
	display: none;
} */

.section_one .sectionOneCont ul li.on p:first-child img:first-child {
    display: none;
}

.section_one .sectionOneCont ul li.on p:first-child img:last-child {
    display: inline-block;
}

.section_one .sectionOneCont ul li p:first-child img:first-child {
    display: inline-block;
}

.section_one .sectionOneCont ul li p:first-child img:last-child {
    display: none;
}

.section_one .sectionOneCont ul li.on p:first-child::after {
    content: '';
    width: 300px;
    height: 11px;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    background: linear-gradient(270deg, rgba(255, 248, 234, 1) 0%, rgba(255, 225, 153, 1) 100%);
}

.section_one .sectionOneCont ul li p:first-child {
    font-size: 26px;
}

.section_one .sectionOneCont ul li p:last-child {
    font-size: 16px;
    color: #4D4D4D;
    padding-left: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.section_one .sectionOneCont ul li img {
    width: 26px;
    height: 26px;
    vertical-align: middle;
    margin-right: 15px;
}

.section_one .sectionOneCont .aside-img img {
    display: none;
}

.section_two {
    margin-top: -20px;
    width: 100%;
    padding-bottom: 40px;
    background: url(../img/三步BG.png) no-repeat left center;
    background-size: 100% 100%;
}

.section_two .sectionCont {
    width: 1200px;
    height: 420px;
    margin: 45px auto 25px;
    /*background: url(../img/pic/pc.png) no-repeat center;background-size: 100% 100%;*/
    overflow: hidden;
}

.section_two .sectionCont ul {
    width: 990px;
    height: 390px;
    margin: 20px auto 0;
    position: relative;
}

.section_two .sectionCont li {
    width: 660px;
    height: 390px;
    position: absolute;
    transform-origin: 0% 100%;
    transition: all .3s;
    border: 2px solid #636365;
    border-radius: 15px;
    overflow: hidden;
}

.section_two .sectionCont li:nth-child(1) {
    transform: translateX(0) scale(0.6);
    z-index: 1;
}

.section_two .sectionCont li:nth-child(2) {
    transform: translateX(190px) scale(1);
    z-index: 2;
}

.section_two .sectionCont li:nth-child(3) {
    transform: translateX(610px) scale(0.6);
    z-index: 1;
}

.section_two .sectionCont .pcChassis {
    width: 750px;
    height: 20px;
    margin: 0 auto;
}

.section_two .section_two_tab {
    width: 818px;
    margin: 0 auto;
}

.section_two .section_two_tab li {
    width: 204px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0 20px;
    font-size: 18px;
    color: #fff;
    float: left;
    transition: .3s all;
    cursor: pointer;
    border: 2px solid #FFFFFF;
}


/* .section_two .section_two_tab li:hover{
	color: #333;background: #fff;border: 1px solid #f2625a;
} */

.section_two .section_two_tab li.active {
    background: rgba(255, 255, 255, 0.2);
}

.section_two .section_two_tab li:active {
    border-color: #e6e6e6;
}

.section_two .section_two_tab li:nth-child(2) {
    margin: 0 103px;
}


/* .section_two .section_two_tab li:hover,.section_two .section_two_tab li.active{
	color: #fff;background: #0571FF;
} */


/* .section_two .section_two_tab li span{
	color: #666;
} */


/* .section_two .section_two_tab li:hover span,.section_two .section_two_tab li.active span{
	color: #fff;
} */

.section_three {
    background: #F5F8FF;
}

.section_three ul {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 62px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.section_three li {
    width: 104.88px;
    height: 150px;
    text-align: center;
}

.section_three li:nth-last-child(1) {
    margin-right: 0;
}


/* .section_three li:hover{
	border: 0;box-shadow: 0 2px 12px 0 #bcdaef;transition: box-shadow .3s;
} */

.section_three li i {
    width: 56px;
    height: 56px;
    margin-top: 38px;
    display: inline-block;
    background: url(../img/icon/section_three_icon.png) no-repeat left top;
}

.section_three li:nth-child(1) i {
    background-position: 0 -56px;
}

.section_three li:nth-child(2) i {
    background-position: -56px -56px;
}

.section_three li:nth-child(3) i {
    background-position: -112px -56px;
}

.section_three li:nth-child(4) i {
    background-position: -168px -56px;
}

.section_three li:nth-child(5) i {
    background-position: -224px -56px;
}

.section_three li:nth-child(6) i {
    background-position: -280px -56px;
}

.section_three li:nth-child(8) i {
    background-position: -336px -56px;
}

.section_three li:nth-child(9) i {
    background-position: -392px -56px;
}

.section_three li:nth-child(7) i {
    background: url(../img/icon/section_three_icon7.png) no-repeat center;
    background-size: 100%;
}

/* .section_three li:nth-child(1):hover i {
    background-position: 0 0;
}

.section_three li:nth-child(2):hover i {
    background-position: -56px 0;
}

.section_three li:nth-child(3):hover i {
    background-position: -112px 0;
}

.section_three li:nth-child(4):hover i {
    background-position: -168px 0;
}

.section_three li:nth-child(5):hover i {
    background-position: -224px 0;
}

.section_three li:nth-child(6):hover i {
    background-position: -280px 0;
}

.section_three li:nth-child(8):hover i {
    background-position: -336px 0;
}

.section_three li:nth-child(9):hover i {
    background-position: -392px 0;
} */

/* .section_three li:nth-child(7):hover i {
    background: url(../img/icon/section_three_icon72.png) no-repeat center;
    background-size: 100%;
} */

.section_three li p {
    height: 75px;
    line-height: 75px;
    text-align: center;
    font-size: 18px;
    color: #333;
}

/* .section_three li:hover p {
    color: #496fff;
} */

.section_four {
    margin-bottom: 50px;
}

.section_four ul {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.section_four li {
    width: 386px;
    height: 180px;
    position: relative;
    overflow: hidden;
}

.section_four li::after {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #FFFFFF;
    width: 131px;
    line-height: 45px;
    text-align: center;
    height: 45px;
    font-size: 18px;
    padding-left: 18px;
    box-sizing: border-box;
    background: rgba(73, 111, 255, 1);
    border-radius: 40px 0px 0px 0px;
}

.section_four li:hover {
    box-shadow: 0 5px 15px 0 rgba(5, 20, 51, 0.30);
}

img {
    transition: .5s all;
}

.section_four li:hover img {
    transform: scale(1.1);
    /* transition: .5s all; */
}

.section_four li:nth-child(1)::after {
    content: 'Datahoop';
}

.section_four li:nth-child(2)::after {
    content: '专业资讯';
}

.section_four li:nth-child(3)::after {
    content: '协会信息';
}


/* 
.section_four li:nth-last-child(1){
	margin-right: 0;
}
.section_four li h4{
	height: 164px;margin-bottom: 20px;position: relative;cursor: pointer;overflow: hidden;
}
.section_four li h4 img{
	transition: .5s all;
}
.section_four li h4:hover img{
	transform: scale(1.1);
}
.section_four li p{
	width: 100%;height: 35px;line-height: 35px;padding:0 10px;font-size: 14px;
}
.section_four li h4 p{
	color: #fff;background: rgba(0,0,0,.8);position: absolute;left: 0;bottom: 0;
}
.section_four li>div p{
	padding-left: 15px;position: relative;cursor: pointer;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;
}
.section_four li>div p:after{
	content: '';width: 4px;height: 4px;background: #999;position: absolute;left: 5px;top: 50%;margin-top: -2px;
}
.section_four li>div p:hover{
	color: #1e9be2;
}
.section_four li>div p:hover:after{
	background: #1e9be2;
} */

.section_five {
    background: url(../img/pic/manIntelligence.png) no-repeat center top;
    background-size: 1200px;
    position: relative;
    padding-bottom: 30px;
}


/* .section_five::after {
	content: '';
	display: block;
	position: absolute;
	width: 1365px;
	height: 70px;
	bottom: 0;
	z-index: -1;
	height:68px;
	background:linear-gradient(180deg,rgba(255,255,255,1) 0%,rgba(224,235,255,1) 100%);
	transform: scaleY(1.5) perspective(2em) rotateX(5deg);
} */

.section_fiveCont {
    width: 1200px;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;
}

.section_fiveCont ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section_fiveCont ul li {
    cursor: pointer;
    width: 210px;
    height: 187px;
    background: url('../img/推荐算法BG.png');
    padding: 10px;
    padding-bottom: 15px;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgba(11, 25, 52, 0.2), 0px 6px 14px 0px rgba(6, 40, 148, 0.3);
}

.section_fiveCont li .top {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 190px;
    height: 60px;
    font-size: 16px;
    background: #FFFFFF;
    text-align: center;
    line-height: 20px;
    padding-top: 10px;
    border-bottom: 5px solid #2DE3FF;
    border-radius: 3px;
    color: #333;
}

.section_fiveCont li .middle {
    /* margin-right: 24px; */
    height: 80px;
    overflow: auto;
    /* display: flex;
    justify-content: space-between;
	flex-wrap: wrap; */
    flex: 1;
}

.section_fiveCont li .middle::-webkit-scrollbar {
    display: none;
}

.section_fiveCont li .middle span {
    color: #E6E6E6;
    float: left;
    border: 1px solid #CCCCCC;
    margin-right: 10px;
    border-radius: 2px;
    padding: 0px 8px;
    box-sizing: border-box;
    white-space: nowrap;
    margin-top: 10px;
    height: 20px;
    line-height: 20px;
}

.section_fiveCont li .middle p {
    color: #E6E6E6;
    margin-top: 10px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.section_fiveCont li .bottom {
    color: #FFFFFF;
}

.section_six {
    background: url(../img/合作品牌BG.png) no-repeat;
    background-size: cover;
}

.section_six h2 {
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    padding: 30px 0;
}

.section_six_content {
    width: 1200px;
    height: 302px;
    margin: 0 auto;
}