/*全局样式*/
*{margin:0;padding:0;}
a{text-decoration:none;}
a:hover{color:#0D6DB7;}
i,em{font-style:normal;display:inline-block;vertical-align:top;}
b,strong{font-weight:normal;}
ul,li{list-style:none;}
input,img{vertical-align:top;border:0;outline:none;}
h2,h3,h4,h5,h6{font-size:12px;font-weight:normal;}
body{background:#F9FBFB;font-size:12px;}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}

.head_bg{width:100%;background:url(../img/suanf.png);background-size:100% 100%;min-width:1024px;}
.reward_header{width:74.964vw;height:100px;color:#fff;margin:0 auto;min-width:1024px;}
.reward_header h1{float:left;width:180px;height:48px;margin-top:26px;color:#fff;background:rgba(0,0,0,0.6);line-height:48px;text-align:center;font-size:18px;}
.reward_header div{width:750px;height:48px;margin-top:26px;background:rgba(0,0,0,0.6);margin-left:50px;float:left;}
.reward_header div input{width:610px;height:32px;margin:7px 0 7px 29px;border:1px solid #0099FF;padding-left:20px;background:#000;border-radius:17px 0 0 17px;outline:0;color:#fff;}
.reward_header div i{width:60px;height:34px;margin-top:7px;background:#0099FF;border-radius:0 17px 17px 0;}
.reward_header div i img{width:26px;height:26px;margin:4px;margin-left:15px;}
.reward_body{width:74.964vw;margin:0 auto;padding-top:20px;min-width:1024px;}
.list{width:100%;margin-bottom:20px;position:relative;}
.list>dl{overflow:hidden;margin-bottom:15px;}
.list>dl dt{font-size:15px;color:#666;float:left;width:12%;text-align:center;line-height:28px;font-weight:bold;}
.list>dl dd{width:88%;float:left;text-align:center;}
.list>dl dd div{display:inline-block;line-height:26px;padding:0 10px;border:1px solid #0099FF;margin:0 5px;color:#0099FF;cursor:pointer;}
.list>dl dd div.on{background:#0099FF;color:#fff;}
.list>dl dd div:hover{background:#0099FF;color:#fff;}
.list ul{overflow:hidden;padding-top:5px;}
.list ul li{width:23%;margin:0 1% 20px;height:200px;float:left;overflow:hidden;background:#fff;box-sizing:border-box;box-shadow:0 0 10px #f1f1f1;padding:20px 10px;}
.list ul li:hover{box-shadow:0 0 10px #D0D0D0;}
.list ul li>div{height:35px;}
.list ul li>div img{width:35px;height:35px;margin-right:8px;}
.list ul li>div dl{width:calc(100% - 43px)}
.list ul li>div dt{font-size:14px;font-weight:bold;}
.list ul li>div dd{font-size:12px;float:left;}
.list ul li>div dd:last-child{float:right;}
.list ul li p{line-height:22px;font-size:12px;margin:23px 10px 28px;word-break: break-all;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow: hidden;color:#666;}
.list ul li i{padding-left:10px;color:#999;line-height:28px;}
.list ul li i span{color:#FF2A00;}
.list ul li b{float:right;padding:5px 10px;margin-right:10px;border:1px solid #FF930C;color:#FF930C;cursor:pointer;}
.list ul li b:hover{background:#FF930C;color:#fff;}